<div id="wallpaper" class="wallpaper"></div>
    <div class="content">
        <aside class="side">
            <figure id="picture" class="picture">
                <div class="picture-shadow"></div>
                <!-- Change the file names of your images -->
                <img id="pictureImage" class="picture-image"
                    src="/images/vil.jpg"
                    srcset="/images/vil.jpg 1x,
                            /images/vil2x.jpg 2x,
                            /images/vil3x.jpg 3x"
                    alt="Portrait of vilas kn "
                    width="320"
                    height="320">
            </figure>
        </aside>
        <main class="about">
            <h1 class="name">
                <!-- Change your name here -->
                Hi, I'm vilas kn 
            </h1>
            <p class="job">
                <!-- Change your title here -->
                Student
            </p>
            <hr class="hr">
            <div class="description">
                <p>
                <!-- describe yourself here -->
                I am a Student
                </p> 
            </div>
            <div class="contact">
                <a class="button" href="/projects">
                Explore More
                </a>
            </div>
            <ul class="social">
                <li> 
                    <!-- your facebook profile url -->
                    <a href="https://www.facebook.com/people/villukn/">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li> 
                <li>
                    <!-- your personal website url -->
                    <a href="https://villukn@gmail.com">
                        <i class="fab fa-globe"></i>
                    </a> 
                </li>
            </ul>
        </main>
    </div>